# Writable folder contents
writable/session/*
writable/logs/*
writable/cache/*
writable/uploads/*
writable/debugbar/*
!writable/.htaccess
!writable/*/.htaccess

# Environment files
.env

# IDE and OS files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Composer
/vendor/

# Node modules
node_modules/

# Build files
/public/hot
/public/storage
/storage/*.key

# Testing
/coverage/
.phpunit.result.cache
